h1 { color: bisque;
    background-color: rgb(165, 47, 47);
    
 } 
 h2 {
    color: rgb(24, 54, 54);
    background-color: rgb(173, 167, 179);
}
p {
    color: blueviolet;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(197, 185, 171);
}